<div class="overflow-x-auto rounded-box border border-base-content/5 bg-base-100 m-5">
  <table class="table text-center">
    <!-- Cabeza de la tabla -->
    <thead>
      <tr class="bg-base-300">
        <th>Fecha</th>
        <th>Ganancia +$</th>
        <th>Gasto -$</th>
        <th>Total $</th>
      </tr>
    </thead>
    <tbody>
      <!-- filas -->
       @for (fila of lista_Flujo_Mes(); track fila.fecha) {
      <tr>
        <td>{{fila.fecha}}</td>
        <td>{{fila.ganancias}}</td>
        <td>{{fila.gastos}}</td>
        <td>{{fila.total}}</td>
      </tr>
    }
    </tbody>
  </table>
</div>
